SUPABASE_URL=https://xawloucnvrlgxjeupdxn.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhhd2xvdWNudnJsZ3hqZXVwZHhuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI3NzE0MzUsImV4cCI6MjA4ODM0NzQzNX0.ZNZan577dSSRAbVm92TNTGxlgP9giXXqnSWnZ2aPsog
STRIPE_PUBLISHABLE_KEY=sb_publishable_Gsi_BzHJpCa2qBrNpSzfRg_tRjgLW5f
API_BASE_URL=http://localhost:5001/api
